{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Cool Recipe Site{% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
</head>

<body>
  <div id="sidebar" style="float:left">
    {%block sidebar %}
    Nav sidebar
    <ul>
      <li><a href="{% url 'recipeIndex' %}">Recipe Index</a></li>
    </ul>
    {% endblock sidebar %}
  </div>

  <div id="content" style="float:left">
    Page content
    {% block content %}<p>Default content, replace in page.</p>{% endblock content %}
  </div>
  <!-- JS at end, so pages load faster -->
  <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>