{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Cool Recipe Site{% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <!-- put body padding here if we have a fixed bar on top/bottom -->
  <!-- put responsive bootstrap css link here if needed -->
</head>

<body>
  <div class="container">
    <h2>flashy picture location</h2>

    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="{% url 'home' %}">Recipe Site</a>
        <ul class="nav">
          <li class="{% block RecipeIndexActive %}{% endblock %}"><a href="{% url 'recipeIndex' %}">Recipe Index</a></li>
          <li class="{% block ChefIndexActive %}{% endblock %}"><a href="{% url 'chefIndex' %}">Chef Index</a></li>
        </ul>
        {% if request.session %}true{% endif %}
        {{ request.session.username }}
        <form class="navbar-search pull-right" action="/search/" method="get">
          <input name="q" id="id_q" type="text" class="search-query" placeholder="Search" value="{% if query %}{{query}}{% endif %}"/>
        </form>
      </div>
    </div>

    <div id="content">
      {% block content %}<p>Default content, replace in page.</p>{% endblock content %}
    </div>
  </div>

  <!-- JS at end, so pages load faster -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>