{% extends "recipe/base.html" %}

{% block title %}Recipe Site{% endblock title %}

{% block content %}
  <h1>Welcome to the Home Page!</h1>

  {# carousel code #}
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      {% for recipe_picture in recipe_picture_list %}
        <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} ></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for recipe_picture in recipe_picture_list %}
        <div class="{% if forloop.first %}active {% endif %}item">
          <img src="{{ recipe_picture.path }}" alt="pic" />
          <div class="carousel-caption">
            <h4>{{ recipe_picture.recipe.name }}</h4>
          </div>
        </div>
      {% endfor %}
    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>


  <h2>Recipes</h2>
  {% if recipe_list %}
    <ul>
    {% for recipe in recipe_list %}
      <li><a href="{% url 'recipeDetail' recipe.id %}">{{ recipe.name }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No recipes are available.</p>
  {% endif %}
  <h2>Chefs</h2>
  {% if chef_list %}
    <ul>
    {% for chef in chef_list %}
      <li><a href="{% url 'chefDetail' chef.id %}">{{ chef.name }}</a></li>
    {% endfor %}
    </ul>
  {% else %}
    <p>No chefs are available.</p>
  {% endif %}
{% endblock content %}