{% extends "recipe/base.html" %}

{% block title %}{{ recipe.name}}{% endblock title %}

{% block content %}
  <h1>{{ recipe.name }}</h1>
  {{ recipe.chefComment }}
  <h2>Ingredients</h2>
  <ul>
  {% for ri in recipe.recipeingredient_set.all %}
    <li>{{ ri.amount }} {{ ri.unit.name }}{{ ri.amount|pluralize }} of {{ ri.ingredient.name }}</li>
  {% endfor %}
  </ul>
  <h2>Main Picture</h2>
  <img src="{{ recipe.mainPicture.path }}" alt="Main Recipe Picture" >
  <h2>Other Pictures</h2>
  {% for picture in recipe.recipepicture_set.all %}
    {% if picture != recipe.mainPicture %}
      <img src="{{ picture.path }}" alt="Other picture" >
    {% endif %}
  {% endfor %}
{% endblock content %}