Django==1.5.1
Jinja2==2.6
PIL==1.1.7
Pillow==2.0.0
Whoosh==2.4.1
distribute==0.6.34
-e git+https://github.com/toastdriven/django-haystack.git@7263866d386a6c26e5e73ba923a7c64e1fc2a5cf#egg=django_haystack-dev
gunicorn==0.17.2
heroku==0.1.2
honcho==0.4.0
html5lib==0.95
oauthlib==0.4.0
pyPdf==1.13
pycrypto==2.6
python-dateutil==1.5
pytz==2013b
reportlab==2.7
requests==1.2.0
requests-oauthlib==0.3.0
smartfile==2.1-1
urllib3==1.5
virtualenv==1.9.1
xhtml2pdf==0.0.5
