Django==1.5.1
PIL==1.1.7
Whoosh==2.4.1
distribute==0.6.34
-e git+https://github.com/toastdriven/django-haystack.git@7263866d386a6c26e5e73ba923a7c64e1fc2a5cf#egg=django_haystack-dev
oauthlib==0.4.0
requests==1.2.0
smartfile==2.1-1
