{% extends "recipe/base.html" %}



{% block title %}Add New Recipe{% endblock title %}

{% block content %}

<form action="/recipes/add/" method="post" enctype="multipart/form-data">{% csrf_token %}
	{{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.recipe_Name.errors }}
        <label for="id_recipe_Name">Recipe Name:</label>
        {{ form.recipe_Name }}
    </div>
    <div class="fieldWrapper">
        {{ form.prep_Time.errors }}
        <label for="id_prep_Time">Prep Time:</label>
        {{ form.prep_Time }}
    </div>
    <div class="fieldWrapper">
        {{ form.cook_Time.errors }}
        <label for="id_cook_Time">Cook Time:</label>
        {{ form.cook_Time }}
    </div>
    <div class="fieldWrapper">
        {{ form.comments.errors }}
        <label for="id_comments">Chef Comments:</label>
        {{ form.comments }}
    </div>
    <div id="pics" class="fieldWrapper">
        {{ form.picture.errors }}
        <label for="id_picture">Picture:</label>
        {{ form.picture }}
    </div>
    <button id="add-pic" type="button">Add Another Picture</button>




    <div id="ingredients">


		<label for="id_extra_ings_0">Ingredients:</label>
    	<div class="fieldWrapper">
	        {{ form.extra_ings_0.errors }}
	        <input placeholder="Ingredient Name" id="{{ form.extra_ings_0.html_name }}" name="{{ form.extra_ings_0.html_name }}" type="text" data-provide="typeahead" data-source="{{ ingredients }}" autocomplete="off"> <input type="text" placeholder="Amount" id="amount_{{ form.extra_ings_0.html_name }}" name="amount_{{ form.extra_ings_0.html_name }}"> <select id="unit_{{ form.extra_ings_0.html_name }}" name="unit_{{ form.extra_ings_0.html_name }}">
  					{% for u in units %}
  					<option value="{{ u.name }}">{{ u.name }}</option>
  					{% endfor %}
					</select>
	        
	    </div>
	    <div class="fieldWrapper">
	        {{ form.extra_ings_1.errors }}
	        <input placeholder="Ingredient Name" id="{{ form.extra_ings_1.html_name }}" name="{{ form.extra_ings_1.html_name }}" type="text" data-provide="typeahead" data-source="{{ ingredients }}" autocomplete="off"> <input type="text" placeholder="Amount" id="amount_{{ form.extra_ings_1.html_name }}" name="amount_{{ form.extra_ings_1.html_name }}"> <select id="unit_{{ form.extra_ings_1.html_name }}" name="unit_{{ form.extra_ings_1.html_name }}">
  					{% for u in units %}
  					<option value="{{ u.name }}">{{ u.name }}</option>
  					{% endfor %}
					</select>
	    </div>


    </div>
    <div id="unitss" style="display:none;">
    	{% for u in units %}
  					<option value="{{ u.name }}">{{ u.name }}</option>
  					{% endfor %}
    </div>
	<button id="add-ing" type="button">Add Ingredient</button>

    <div id="steps">
    <div class="fieldWrapper">
        {{ form.instructions.errors }}
        <label for="id_instructions">Step 1:</label>
        {{ form.instructions }}
    </div>
    <input id="ingre" type="hidden" value="{{ingredients}}">
</div>
<button id="add-another" type="button">Add Step</button>

<div class="fieldWrapper">
        {{ form.inst.errors }}
        <label for="id_inst"></label>
        {{ form.inst }}
    </div>
    <div class="fieldWrapper">
        {{ form.ings.errors }}
        <label for="id_ings"></label>
        {{ form.ings }}
    </div>
    <div class="fieldWrapper">
        {{ form.pics.errors }}
        <label for="id_pics"></label>
        {{ form.pics }}
    </div>
<input type="submit" value="Submit" />
</form>



{% endblock content %}

