{% extends "recipe/base.html" %}
{% load humanize %}

{% block title %}{{ chef.username }}{% endblock title %}

{% block content %}
<div class="row-fluid">
  <div class="span4">
    <img src="{{ chef.chefpicture.path }}" class="img-polaroid">
  </div>
  <div class="span8">
    <div class="row-fluid">
      <div class="span12">
        <h1>{{ chef.username }}</h1>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <p>Chef since {{ chef.date_joined|naturaltime }}</p>
      </div>
    </div>
  </div>
</div>
<div class="row-fluid">
<h2>Recipes</h2>
<ul class="nav nav-pills">
  <li {% if showrecipes == "Originals" %}class="active"{%endif%}>
    <a href="{% url 'chefDetailShowRecipes' chef.id 'Originals' %}">Originals</a>
  </li>
  <li {% if showrecipes == "Clones" %}class="active"{%endif%}>
    <a href="{% url 'chefDetailShowRecipes' chef.id 'Clones' %}">Clones</a>
  </li>
  <li {% if showrecipes == "Favorites" %}class="active"{%endif%}>
    <a href="{% url 'chefDetailShowRecipes' chef.id 'Favorites' %}">Favorites</a>
  </li>
</ul>
{% for recipe in recipe_list %}
  {% if request.user.id == chef.id and showrecipes == "Favorites" %}
  <div class="row-fluid">
    <div class="span1"><a class="btn" title="Remove from your Favorites" href="{% url 'removeFromFavorites' recipe.id %}?next={% url 'chefDetailShowRecipes' chef.id 'Favorites' %}"><i class="icon-trash"></i></a></div>
    <div class="span11">
    {% include "recipe/recipeMediaObject.html" with recipe=recipe starName=forloop.counter0 only %}
    </div>
  </div>
  {% else %}
  {% include "recipe/recipeMediaObject.html" with recipe=recipe starName=forloop.counter0 only %}
  {%endif%}
{% empty %}
There are no recipes to display.
{% endfor %}
{% include "recipe/pagingControl.html" with pageObject=recipe_list pageList=pages %}
</div>
{% endblock content %}