{% extends "recipe/base.html" %}

{% load appRecipe_extras %}

{% block title %}Edit {{name}}{% endblock title %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
	{{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.recipe_Name.errors }}
        <label for="id_recipe_Name">Recipe Name:</label>
        {{ form.recipe_Name }}
    </div>
    <div class="fieldWrapper">
        {{ form.prep_Time.errors }}
        <label for="id_prep_Time">Prep Time:</label>
        {{ form.prep_Time }}
    </div>
    <div class="fieldWrapper">
        {{ form.cook_Time.errors }}
        <label for="id_cook_Time">Cook Time:</label>
        {{ form.cook_Time }}
    </div>
    <div class="fieldWrapper">
        {{ form.comments.errors }}
        <label for="id_comments">Chef Comments:</label>
        {{ form.comments }}
    </div>
   
    <div id="ingredients">


		<label for="id_extra_ings_0">Ingredients:</label>

        {% for i in initialIngredients %}
    	<div class="fieldWrapper">
	        <input placeholder="Ingredient Name" value="{{i.name}}" id="extra_ings_{{forloop.counter0}}" name="extra_ings_{{forloop.counter0}}" type="text" data-provide="typeahead" data-source="{{ ingredients }}" autocomplete="off"> <input type="text" placeholder="Amount" value="{{i.amount}}" id="amount_extra_ings_{{forloop.counter0}}" name="amount_extra_ings_{{forloop.counter0}}"> <select id="unit_extra_ings_{{forloop.counter0}}" name="unit_extra_ings_{{forloop.counter0}}">
  					{% for u in units %}

  					<option {%if u.name in i.unit.name %}selected{%endif%} value="{{ u.name }}">{{ u.name }}</option>
  					{% endfor %}
					</select>
	        
	    </div>

        {% endfor %}


    </div>
    <div id="unitss" style="display:none;">
    	{% for u in units %}
  					<option value="{{ u.name }}">{{ u.name }}</option>
  					{% endfor %}
    </div>
	<button id="add-ing" type="button">Add Ingredient</button>

    <div id="steps">
    <div class="fieldWrapper">
        {{ form.instructions.errors }}
        <label for="id_instructions">Step 1:</label>
        {{ form.instructions }}
    </div>
    {% for field in form %}
    {% if 'field' in field.html_name %}
    <div class="fieldWrapper">
        <label>Step {{ forloop.counter|subtract:length|add:1 }}:</label> {{ field }}
    </div>
    {% endif %}
{% endfor %}

    <input id="ingre" type="hidden" value="{{ingredients}}">
</div>
<button id="add-another" type="button">Add Step</button>

<div class="fieldWrapper">
        {{ form.inst.errors }}
        <label for="id_inst"></label>
        {{ form.inst }}
    </div>
    <div class="fieldWrapper">
        {{ form.ings.errors }}
        <label for="id_ings"></label>
        {{ form.ings }}
    </div>
    <div class="fieldWrapper">
        {{ form.pics.errors }}
        <label for="id_pics"></label>
        {{ form.pics }}
    </div>
<input type="submit" value="Submit" />
</form>



{% endblock content %}

