{% extends "recipe/base.html" %}

{% block title %}ReciCopy{% endblock title %}

{% block content %}
  <h1>Recipe of the Week!</h1>

  {# carousel code #}
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item" >
          <a href="{% url 'recipeDetail' recipeOfTheDay.id %}">
          <img src="{{ recipeOfTheDay.mainPicture.path }}" alt="pic" />
          <div class="carousel-caption">
            <h4>{{ recipeOfTheDay.name }}</h4>
            <p>"{{ recipeOfTheDay.chefComment }}" - {{ recipeOfTheDay.chef.username }}</p>
          </div>
        </a>
        </div>
    </div>
  </div>
<div class="row-fluid">
  <div class="span4">
    {% include 'recipe/recipeThumbnail.html' with recipe=featuredRecipe1 only %}
  </div>
  <div class="span4">
    {% include 'recipe/recipeThumbnail.html' with recipe=featuredRecipe2 only %}
  </div>
  <div class="span4">
    {% include 'recipe/recipeThumbnail.html' with recipe=featuredRecipe3 only %}
  </div>
</div>
{% endblock content %}