{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'starRating/jQuery.Rating.css' %}" />
</head>
<body>
<input name="adv1" type="radio" class="star {split:4}" disabled=""/>
<input name="adv1" type="radio" class="star {split:4}"/>
<input name="adv1" type="radio" class="star {split:4}"/>
<input name="adv1" type="radio" class="star {split:4}"/>
<input name="adv1" type="radio" class="star {split:4}" checked="checked"/>
<input name="adv1" type="radio" class="star {split:4}"/>
<input name="adv1" type="radio" class="star {split:4}"/>
<input name="adv1" type="radio" class="star {split:4}"/>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
<script type="text/javascript"src="{% static 'starRating/jquery.rating.pack.js' %}" ></script>
<script type="text/javascript" src="{% static 'starRating/jquery.MetaData.js' %}" ></script>
</body>
</html>